@font-face {
  font-family: 'f1';
  src: url(fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
@font-face {
  font-family: 'f2';
  src: url(fonts/Sedgwick_Ave_Display/SedgwickAveDisplay-Regular.ttf);
}
@font-face {
  font-family: 'f3';
  src: url(fonts/Delicious_Handrawn/DeliciousHandrawn-Regular.ttf);
}
@font-face {
  font-family: 'f4';
  src: url(fonts/Courgette/Courgette-Regular.ttf);
}
@font-face {
  font-family: 'f5';
  src: url(fonts/Rock_Salt/RockSalt-Regular.ttf);
}
@font-face {
  font-family: 'f6';
  src: url(fonts/Berkshire_Swash/);
}
@font-face {
  font-family: 'cursive3';
  src: url(fonts/Homemade_Apple/HomemadeApple-Regular.ttf);
}
@font-face {
  font-family: 'cursive2';
  src: url(fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: 'cursive';
  src: url(fonts/Cedarville_Cursive/CedarvilleCursive-Regular.ttf);
}

.logo {
  width: 70;
  height: 50;
  
}
nav {
    overflow: hidden;
    background-color: orange;
    position: fixed;
  top: 0;
  width: 100%;
  }
  
  
  nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'f2';
    
  }
  
  nav a:hover {
    background-color: rgb(218, 135, 230);
    color: black;
  }
  .home {

padding: 16px;
height: 100%;
width: 100%;
background-color: blueviolet;
  }
  .Home h3 {
    margin-left: 8%;
    margin-top: 20%;
    color: rgb(238, 196, 118);
    font-family: 'f1';
    font-size: 200%;
   

  }
  .Home p {
    margin-left: 8%;
    color: rgb(238, 196, 118);
    font-size: 150%;
    font-family: 'f5';
  
  }

.Home img{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 50px;
  right: 10px;
  transform: translateX(-50);
  transition: bottom 1s, left 1s;
}
.Home:hover .shape {
bottom: 40px;
}
.Home:hover .pic1 {
  left: 45%;
  }



 .About {
padding: 16px;
height: 100%;
width: 100%;
background-color: rgb(43, 226, 183);    
 }
 
 .About p{
  margin-top: 22.5%;
  margin-left: 50%;
  position: absolute;
  font-family: 'f4';
  font-size: 120%;
 }
 .About img{
  width: 50%;
  margin-top: 10%;
  margin-right: 50%;
  float: right;

 }
 .About p img{
  align-items: normal;

 }


 .Poem {
    padding: 16px;
    height: 100%;
    width: 100%;
    background-color: rgb(202, 242, 121);

 }
 .p1 {
  margin-top: 7%;
  position: absolute;
  margin-left: 4%;
  font-family:'cursive3';
  font-size: 110%;
 font-display: blue;
  
}
 .p2 {
  margin-top: 7%;
  margin-left: 37.5%;
  position: absolute;
  font-family:'cursive3';
  font-size: 110%;
 }
 .p3 {
  margin-top: 7%;
  margin-left: 74%;
  position: absolute;
  font-family:'cursive3';
  font-size: 110%;
 }
 * {box-sizing: border-box}
 .Skills{
  padding: 50px;
  height: 100%;
  width: 100%;
  background-color: rgb(245, 179, 155);

 }
 
   
  .skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #275458;
    text-transform: uppercase;
    margin-top: 3%;
    font-family: 'f1';
    position: relative;
  }
.skill-bar{
  height: 14px;
  background: rgb(171, 80, 210);
  border-radius: 3px;
  position: relative;
}
.skill-per{
  height: 14px;
  background: #ccccff;
  border-radius: 3px;
  position: relative;
  animation: fillbars 2.5s 1;
}
.skill-per::before{
content: attr(per);
position: absolute;
padding: 4px 6px;
background: #577ce9;
border-radius: 4px;
font-size: 12px;
top: -35px;
right: 0;
transform: translateX(50%);
}
.skill-per::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #577ce9;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}
@keyframes fillbars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }s
}
.Contact {
  padding: 16px;
  height: 100%;
  width: 100%;
  background-color: rgb(250, 247, 162);
}
input[type=text], select, textarea {
  font-family: 'f3s';
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  font-family: 'f3';
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 4%;
  font-family: 'f3';
}